/* Importação global */
@import "./global.css";

/* Importação fonte */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*variáveis css*/

:root {
--gradient: linear-gradient(
  to right,
  rgb(22, 138, 227),
  rgb(10, 84, 159),
  rgb(19, 50, 107)
);
}


/*código*/

section.facebook {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f0f2f5;
}
/*logo*/
section.facebook .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 50px;
}

section.facebook .logo img {
  width: 100%;
  max-width: 200px;
}

/*texto sobre o fb*/
section.facebook .logo p {
  font-size: 1rem;
  color: black;
  line-height: 1.2;
  padding: 0 0 0 20px;
}

/*login*/
section.facebook .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

section.facebook .login .quadro {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  border-radius: 5px;
}

section.facebook .login .quadro input {
  width: 100%;
  font-size: 1rem;
  color: black;
  padding: 15px 20px;
  border: 1.5px solid #e4e4e4;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

section.facebook .login .quadro input::placeholder {
  color: #898989;
}
section.facebook .login .quadro input:focus {
  border: 1.7px solid #1877f2;
  transition: 0.5s ease-in-out;
}

section.facebook .login .quadro button.entrar {
  background-color: #1877f2;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  padding: 15px;
  width: 100%;
  border: 1.5px solid #e4e4e4;
  border-radius: 5px;
  cursor: pointer;
}

section.facebook .login .quadro button.senha {
  font-size: 0.8rem;
  color: #1877f2;
  background: transparent;
  margin: 20px 0 0 0;
}
section.facebook .login .quadro button.senha:hover {
  text-decoration: underline;
}

/*Linha*/

section.facebook .login .quadro .linha {
  width: 100px;
  height: 1.5px;
  background-color: #bebebe7c;
  margin: 20px 0;
}
/*Botões*/

section.facebook .login .quadro button.criar {
  background-color: #36a420;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  transition: all 0.3s;
}

section.facebook .login .quadro button.criar:hover {
  background-color: #2f951a;
  cursor: pointer;
}

/*Texto final*/

section.facebook .login p {
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  text-align: center;
  margin: 20px 0 0 0;
}

section.facebook .login p span {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*footer */
section.facebook .footer {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 20px;
  gap: 35px;
  flex-wrap: wrap;
}
section.facebook .footer a{
text-decoration: none;
color: #1877f2;
background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*Responsiv0*/

@media screen and (max-width: 1240px) {
  section.facebook {
    flex-direction: column;
    padding: 20px;
  }
  section.facebook .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  section.facebook .logo p {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 0;
  }

  section.facebook .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0 0 0;
  }

  section.facebook .login .quadro {
    max-width: 400px;
  }
}
